*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Arial", sans-serif;
}

@media only screen and (max-width: 800px) {
    .middle-border{
        border-bottom: 1px solid rgb(200, 200, 200);
    }
    .screen-orien-right {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .screen-orien-left {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .clear{
        clear: both;
    }
    .left-sizing{
        width: 100%;
    }
    .right-sizing{
        width: 100%;
    }
}

@media only screen and (min-width: 801px) {
    .middle-border{
        border-right: 1px solid rgb(200, 200, 200);
    }
    .screen-orien-right{
        display: block;
        position: relative;
        float: right;
        margin-left: 20px
    }
    .screen-orien-left{
        display: block;
        position: relative;
        float: left;
        margin-left: 20px
    }
    .left-sizing{
        width: 45%;
    }
    .right-sizing{
        width: 35%;
    }
}


header {
    background-color: rgb(235, 239, 235);
    padding: 15px;
    justify-content: center;
  }
  
th{
    padding-left: 30px; 
    padding-right: 30px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-xl{
    font-size: 1.8rem;
    line-height: 2.0rem;
}

.font-thick{
    font-weight: 800;
}

.font-medium{
    font-weight: 600;
}

.font-light{
    font-weight: 300;
}
.font-purple{
    color: rgb(107, 0, 173);
}
.text-l{
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.text-m{
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.text-s{
    font-size: 1.0rem;
    line-height: 1.2rem;
}

.text-center{
    text-align: center;
}


.header-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
}

.shadow{
    width: 75%;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
}

.header-current{
    color: rgb(17, 0, 255);
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
}

.footer-words{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-weight: 500;

}

.medium-padding{
    padding: 10px;
}

.footer-border{
    clear:both;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.left,
.right {
    display: block;
    position: relative;
    margin-bottom: 2em;
}

.left {
    float: left;
    margin-left: 20px;
}
.right {
    float: right;
    margin-right: 20px;
}

.footer-padding{
    padding: 5px;
}

img {
    border-radius: 100%;
    padding-bottom: 20px;
  }

.img-match{
    max-width: 40%;
    height: auto;
    width:40%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.padding-bottom{
    padding-bottom: 20px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.padding-right{
    padding-right: 30px;
}

.padding-left{
    padding-left: 30px;
}

.padding-top{
    padding-top: 30px;
}