*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    line-height: 1.5rem;
}

header {
    background-color: rgb(235, 239, 235);
    padding: 15px;
    justify-content: center;
  }
  
th{
    padding-left: 30px; 
    padding-right: 30px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-xl{
    font-size: 2rem;
    line-height: 2.5rem;
}

.text-l{
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-xxl{
    font-size: 3rem;
    line-height: 3.5rem;
}

.text-s{
    font-size: 0.75rem;
    line-height: 1rem;
}

.header-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
}



.shadow{
    width: 75%;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
}

.header-current{
    color: rgb(17, 0, 255);
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
}

.footer-words{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-weight: 500;

}